<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/agents.css" rel="stylesheet">
    <link href="/css/rentsale.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ResourceX</title>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <form action="agents-search">
        <div class="search-container">
          Search: <input class="search" type="text" name="zipcode" type="number"  placeholder="Enter ZipCode" autocomplete="off" required/>
          <button id="filter-btn" class="filter-btn">
              <i class="fa-solid fa-filter"></i>
          </button>
          
          <div id="filter-options" class="filter-options">
            <label>
              <input type="radio" name="sort-by" value="alphabetical" checked> Alphabetical Order
            </label>
            <label>
              <input type="radio" name="sort-by" value="price"> Highest Price
            </label>
            <label>
              <input type="radio" name="sort-by" value="location"> Nearest Location
            </label>
            <button id="apply-filter-btn">Apply</button>
          </div>
        </div>
        <button class="search-btn" type="submit">SEARCH</button>
      </form>

      <div class="card-container">
        <div class="card-content">
          <% for (let a = 0; a < agentsList.length; a++) { %>
            <% if("name" in agentsList[a] && "agent_rating" in agentsList[a] && "phones" in agentsList[a] && "photo" in agentsList[a] && "web_url" in agentsList[a] && ("specializations" in agentsList[a] && agentsList[a].specializations.length >= 1)) { %>
              <a href="<%= agentsList[a].web_url %>" target=”_blank”>
                <div class="card"> 
                  <div class="card-img">
                    <img src="<%= agentsList[a].photo.href %>">
                  </div>
                  <div class="card-info">
                    <div>
                        <p>Name: <%= agentsList[a].name %></p>
                    </div>
    
                    <div class="agent_info">
                      <p>Also Specializes in:</p>
                      <div> 
                        <ul id="specializations">
                          <% for(let s = 0; s < agentsList[a].specializations.length; s++) { %>
                            <li><%= agentsList[a].specializations[s].name %></li>
                          <% } %>
                        </ul>
                      </div>
                    </div>
    
                    <div>
                      <p>Phone #: <%= agentsList[a].phones[0].number %></p>
                    </div>
                    <div>
                      <p>Rating: <%= agentsList[a].agent_rating %></p>
                    </div>
                  </div>
                </div>
              </a>
            <% } %>
          <% } %>
        </div>
      </div>
            
    </main>

    <footer>
      
    </footer>
  </body>
</html>