<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/global.css" rel="stylesheet" >
    <link href="/css/rentsale.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>For Sale - ResourceX</title>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <form action="forsale-search">
        <div class="search-container">
          Search: <input id="state" class="search" type="text" name="state" type="text"  placeholder="Enter State" autocomplete="off" required/>
          <input id="city" class="search" name="city" type="text" placeholder="Enter City" autocomplete="off" required/>
          <button id="filter-btn" class="filter-btn">
              <i class="fa-solid fa-filter"></i>
          </button>
          <div id="filter-options" class="filter-options">
            <label>
              <input type="radio" name="sort-by" value="alphabetical" checked> Alphabetical Order
            </label>
            <label>
              <input type="radio" name="sort-by" value="price"> Highest Price
            </label>
            <label>
              <input type="radio" name="sort-by" value="location"> Nearest Location
            </label>
            <button id="apply-filter-btn">Apply</button>
          </div>
        </div>
        <button class="search-btn" type="submit">SEARCH</button>
      </form>

      <div class="card-container">
        <div class="card-content">
          <% for (let i = 0; i < length; i++) { %>
            <% if("rdc_web_url" in for_sale_listings[i] && "thumbnail" in for_sale_listings[i] && "prop_type" in for_sale_listings[i] && "address" in for_sale_listings[i] && "price" in for_sale_listings[i] && "beds" in for_sale_listings[i] && "baths" in for_sale_listings[i] && "building_size" in for_sale_listings[i]) { %>
              <a href="<%= for_sale_listings[i].rdc_web_url %>" target=”_blank”>
                <div class="card"> 
                  <div class="card-img">
                    <img src="<%= for_sale_listings[i].thumbnail %>">
                  </div>
                  <div class="card-info">
                    <div>
                        <p><%= for_sale_listings[i].prop_type %> in <%= for_sale_listings[i].address.city %></p>
                    </div>
    
                    <div class="info">
                      <div>
                        <p>$<%= for_sale_listings[i].price %></p>
                      </div>
                      <div> 
                        <% if(for_sale_listings[i].beds == "S") { %>
                            <p>1 Bed |</p> 
                        <% } else if(for_sale_listings[i].beds == 1) { %>
                            <p>1 Bed |</p> 
                        <% } else { %>
                            <pr><%= for_sale_listings[i].beds %> Beds | </pr>
                        <% } %>
                          
                        <% if(for_sale_listings[i].baths == "Call") { %>
                            <p> Unknown # Baths |</p> 
                        <% } else if(for_sale_listings[i].baths == 1) { %>
                            <p> 1 Bath |</p>
                        <% } else {%>
                            <p> <%= for_sale_listings[i].baths %> Baths |</p> 
                        <% } %> 
                        
                        <p><%= for_sale_listings[i].building_size.size %><%= for_sale_listings[i].building_size.units %></p>
                      </div>
                    </div>
    
                    <div>
                      <p>Address: <%= for_sale_listings[i].address.line %></p>
                    </div>
                  </div>
                </div>
              </a>
            <% } %>
          <% } %>
        </div>
      </div>
    </main>

    <footer>
      
    </footer>
    <script src="js/filter.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>